<h1>Create a new character</h1>

<form method="POST" action="/characters/create">
      <input type="text" name="name"  placeholder="name"> 
      <input type="text" name="occupation"  placeholder="occupation">
      <input type="text" name="weapon"  placeholder="weapon"> 

      <button> Submit </button>
</form>

